<section class="jumbotron text-center">
  <div class="container">
    <h1>Region:</h1>
    <p class="lead text-muted">
      https://restcountries.eu/rest/v2/region/europe.
    </p>
    <p>
      <a href="#" class="btn btn-primary my-2 mr-2" (click)="selectRegion('europe')">
        Región Europa
      </a>
      <a href="#" class="btn btn-secondary my-2 mr-2" (click)="selectRegion('asia')">
        Región Asia
      </a>
      <a
        href="#"
        class="btn btn-secondary my-2 mr-2"
        (click)="selectRegion('america')"
      >
        Región América
      </a>
      <a
        href="#"
        class="btn btn-secondary my-2 mr-2"
        (click)="selectRegion('africa')"
      >
        Región Africa
      </a>
    </p>
  </div>
</section>
